<p><b>Z przykrością informujemy, że Twoje zgłoszenie udziału w wydarzeniu {{ zgl.rejs.nazwa}} zostało odrzucone.</b></p>
<p>Zachęcamy Cię jednak do udziału w naszych pozostałych wydarzeniach lub ponownej próby w przyszłym roku<br>
<a href="http://www.zobaczycmorze.pl/zgloszenie/">Formularz zgłoszeniowy</a>.

<p><b>Podsumowanie finasów:</b><br>
{{ finanse.suma_wplat }}<br>
{{ finanse.kwota_do_zaplaty }}</p>

<p>Jeśli występuje nadpłata, zwrócimy Ci pieniądze jak najszybciej.</p>
<p>Jeśli zgłosiłeś się na kilka wydarzeń, to zwracamy Twoją uwagę na to, że każde wydarzenie jest traktowana oddzielnie i dla każdego osobno rozliczane są wpłaty i osobno przeprowadzane kwalifikacje.</p>

<p>W przypadku wątpliwości, prosimy o kontakt.</p>

{% include "emails/_footer.html" %}