<p><b>Potwierdzamy przyjęcie zgłoszenia udziału w wydarzeniu {{ zgl.rejs.nazwa }}.</b><br>
    Potwierdzamy, że zakwalifikowaliśmy Cię do udziału w tym wydarzeniu.</p>
    
    <p>Prosimy Cię o uzupełnienie danych w formularzu znajdującym się pod adresem:<br><a href="{{ link }}">https://www.zobaczycmorze.pl/zgloszenie/?userkey=%userkey%</a></p>
    
    <p><b>Podsumowanie finasów:</b><br>
    wpłacono: {{ zgl.finanse.suma_wplat }}<br>
    pozostało do zapłaty: {{ zgl.finanse.do_zaplaty }}</p>
    
    <p>Jeśli występuje nadpłata, zwrócimy Ci pieniądze jak najszybciej.</p>
    <p>Jeśli zgłosiłeś się na kilka wydarzeń, to zwracamy Twoją uwagę na to, że każde wydarzenie jest traktowana oddzielnie i dla każdego osobno rozliczane są wpłaty i osobno przeprowadzane kwalifikacje.</p>
    
    <p>W przypadku wątpliwości, prosimy o kontakt.</p>

    {% include "emails/_footer.html" %}