<p>Cieszymy się, że postanowiłeś/postanowiłaś dołączyć do naszej załogi!. Twoje zgłoszenie na rejs Zobaczyć Morze, zostało pomyślnie zarejestrowane w systemie.</p>
<p>Podgląd swojego zgłoszenia, oraz pozostałe informacje na temat rejsu możesz uzyskać klikając w poniższy link:</p>
<p>
    <a href="{{ link }}">{{ link }}</a>
</p>
</br>
    <p>Prosimy o wpłatę zaliczki w wysokości {{ zgl.rejs.zaliczka }} zł w ciągu 15 dni od rejestracji na konto:</p>
    <p>Fundacja Zobaczyć Morze im. Tomka Opoki<br>
        ul. Gryfa Pomorskiego 87b / 1<br>
        81-572 Gdynia</p>
        
        <p>Numer rachunku bankowego w mBank:<br>
            32 1140 2004 0000 3102 7660 0864</p>

            <p>W tytule wpisz: Zgłoszenie {{ zgl.id }} oraz swoje imię i nazwisko.</p>\
            <p>W przypadku braku wpłaty w wyznaczonym terminie Twoje zgłoszenie nie będzie rozpatrywane.<br>
                Jeśli nie zakwalifikujesz się do uczestnictwa w rejsie, to w ciągu 7 dni od ogłoszenia listy uczestników zwrócimy Ci zaliczkę na konto, z którego została przelana.</p>
                <p>Kwalifikacje uczestników rozpoczną się niezwłocznie po zakończeniu rejestracji.</p>
                <p>Pierwszeństwo w udziale w imprezie będą miały osoby, które dotychczas nigdy nie płynęły w projekcie Zobaczyć Morze. Podczas kwalifikacji pod uwagę wzięte zostaną także kryteria podane w regulaminie wydarzenia, który znajdziesz na naszej stronie: <a href="https://www.zobaczycmorze.pl">www.zobaczycmorze.pl</a>.</p>
<p>Jeśli zrezygnujesz z udziału w imprezie przed ogłoszeniem listy osób zakwalifikowanych, nie pociągnie to za sobą żadnych negatywnych konsekwencji a wpłacone przez Ciebie kwoty zostaną zwrócone w ciągu 7 dni od poinformowania nas o rezygnacji. Jeśli jednak zrezygnujesz już po ogłoszeniu listy osób zakwalifikowanych, musisz liczyć się z ewentualnością, że w razie nie znalezienia zastępstwa na Twoje miejsce, uiszczona przez Ciebie opłata za uczestnictwo przepadnie i nie zostanie zwrócona.</p>

<p>Przypominamy, że zgłoszenie na rejs Zobaczyć Morze i udział w procesie kwalifikacji oznacza, że:<ol>
<li>Deklarujesz przestrzeganie i nienaruszanie regulaminu jednostek i obiektów, na których impreza będzie organizowana.
<li>Wyrażasz zgodę na przetwarzanie Twoich danych osobowych na potrzeby rekrutacji i organizacji imprezy Zobaczyć Morze zgodnie z naszą polityką prywatności.</ol></p>

<p>Po zakwalifikowaniu do udziału w rejsie Zobaczyć Morze , poprosimy Cię o:<ul>
<li>uiszczenie pozostałej opłaty za udział w rejsie, to jest {{ zgl.rejs.reszta_do_zaplaty }} zł w nieprzekraczalnym terminie 14 dni od otrzymania potwierdzenia uczestnictwa w imprezie,
<li>podanie dodatkowych danych, takich jak numer PESEL, numer dowodu osobistego lub paszportu, adres zamieszkania (będą niezbędne do zgłoszenia do ubezpieczenia) oraz rozmiar koszulki,
<li>przesłanie orzeczenia o stopniu niepełnosprawności, w przypadku osób z dysfunkcją wzroku (niezbędna do rozliczenia dotacji z Ministerstwa Sportu i Turystyki).</ul></p>

<p>Niespełnienie któregokolwiek z tych wymogów uniemożliwi udział w rejsie.</p>
<p>Zaznaczamy, że opłata {{ rejs.cena }} zł stanowi część rzeczywistych kosztów uczestnictwa w rejsie. Resztę kosztów pokrywa Fundacja ze środków pozyskanych od donatorów oraz z dotacji Ministerstwa Sportu i Turystyki.</p>

<p>W razie pytań i wątpliwości prosimy o kontakt pod adresem <a href="mailto:fundacja@zobaczycmorze.pl">fundacja@zobaczycmorze.pl</a> lub bezpośrednio z:<br>
Robert: <a href="tel:+48601323630">+48 601 323 630</a></p>

<p>Zachęcamy też do dołączenia do naszej listy dyskusyjnej <a href="https://groups.google.com/forum/m/#!forum/lista-zobaczycmorze">znajdującej się pod tym linkiem</a> lub grupy na Facebooku Zobaczyć Morze & Przyjaciele :)<br>
Znajdziesz tam grono życzliwych osób, które chętnie rozwieją wszelkie Twoje wątpliwości.</p>
<p>Pozdrawiamy serdecznie,<br>
zespół Fundacji Zobaczyć Morze</p>